# Database Configuration
POSTGRES_DB=ayuda_humanitaria
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_PORT=5432

# Prisma Connection
DATABASE_URL="postgresql://admin:admin123@localhost:5432/ayuda_humanitaria?schema=public"

# API & Web Configurations
PORT=3001
JWT_SECRET="your_jwt_secret_here"
NEXT_PUBLIC_API_URL="http://localhost:3001/api"
